{% extends 'main.html' %}

{% block contact %}

<div class="container">
	<div class="hero">
       {% include "menu.html" %}
		<h1>наши контакты</h1>
	</div>


	<div class="location">
        <div class="iframe">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d19051.086336564727!2d37.53066569856758!3d55.711083791390685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54c7bd20643ff%3A0xfdee4751ea0c4b02!2z0KHQvNC-0YLRgNC-0LLQsNGPINC_0LvQvtGJ0LDQtNC60LAg0L3QsCDQktC-0YDQvtCx0YzRkdCy0YvRhSDQs9C-0YDQsNGF!5e0!3m2!1sru!2sru!4v1524320094325" width="1200" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="iframe">
            <iframe width="960" height="480" src="https://www.youtube.com/embed/tawB0kD-0FY" frameborder="0" allowfullscreen></iframe>
        </div>

        {% for location in locations%}
		<div class="location-1">
			<i class="fa fa-map-marker fa-5x"></i>
			<h4>{{ location.city }}</h4>
			<div class="contacts">
				<h5>Телефон</h5>
				<p>{{ location.phone }}</p>
			</div>
			<div class="contacts">
				<h5>Email</h5>
				<p>{{ location.email }}</p>
			</div>
			<div class="contacts">
				<h5>Адрес</h5>
				<p>{{ location.address }}</p>
			</div>
		</div>
        {% endfor %}
	</div>

	<div class="clr"></div>
</div>

{% endblock %}
