{% load static %}


<div class="details-products">
    <div class="details-slider">
        <div class="slider-product">
            <img src="{{ params.images.0.image.url }}" >
        </div>
        <div class="slider-control">

            {% for model in params.images %}
                <div class="block">
                    <a href="#"><img src="{{ model.image.url }}" alt="{{ params.name }}">
                        <div class="text"></div>
                    </a>
                </div>
            {% endfor %}

        </div>
    </div>

    <div class="description">
        <h3 class="big-bold">{{ params.name }}</h3>
        <h3 class="red">{{ params.short_desc }}</h3>
        <p class="price"> {{ params.price }} <span>руб</span></p>
        <a href="#" class="red-button">
            заказать <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </a>
        <div class="description-text">
            <p>{{ params.description }}</p>
        </div>
    </div>
</div>
