{% extends 'main.html' %}
{% load static %}

{% block products %}
<div class="container">
	<div class="hero-white">
        {% include "menu.html" %}
	</div>

	<div class="details">
		<div class="links clearfix">
			<ul class="links-menu">
				{% for category in product_categories %}
				    <li><a href="#">{{ category }}</a></li>
                {% endfor %}
			</ul>
		</div>

        {% include 'product_details.html' with params=product_params%}

		<div class="related">
			<div class="title clearfix">
				<h2>Похожие продукты</h2>
				<a class="explore" href="#">показать все <img src="{% static "img/arrow.png" %}" alt=""></a>
			</div>

			<div class="related-products clearfix">
                {% for product in related_products %}
                    <div class="block">
                        <a href="/products/{{ product.id }}/"><img src="{% static "img/" %}{{ product.image }}" alt="{{ product.alt }}">
                            <div class="text">
                                <img src="{% static "img/icon-hover.png" %}" alt="img">
                                <h4>{{ product.h4 }}</h4>
                                <p>{{ product.p }}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
			</div>
		</div>
	</div>

	<div class="clr"></div>

</div>
{% endblock %}
