{% for item in basket_items %}
    <div class="basket_record">
        <a href="{% url 'products:product_description' item.product.pk %}"><img width="150px" src="{{ item.product.images.all.0.image.url}}" alt="{{ item.product.short_desc }}"></a>

        <span class="category_name">{{ item.product.category.name }}</span>
        <span class="product_name">{{ item.product.name }}</span>
        <span class="product_price">{{ item.product.price }}&nbspруб</span>
        <input type="number" name="{{ item.pk }}" min="0" value="{{ item.quantity }}">
        <span class="product_cost">{{ item.cost }}&nbspруб</span>
        <button class="remove btn btn-round"  value="{{ item.pk }}">
                удалить
        </button>
    </div>
{% endfor %}

{% if basket_items %}
    <div class="basket_summary">
        В корзине {{ basket_items.0.total_quantity }} товаров общей стоимостью
        {{ basket_items.0.total_cost }} руб
    </div>
{% endif %}