<div class="header clearfix">
    <a href="{% url 'main:index' %}" class="logo"></a>
    <span class="visit-time">{{ visit_date|date:"l, j F, Y, H:i" }}</span>

    <ul class="login-menu">
        {% if user.is_authenticated %}
            <li><a href="{% url 'auth:edit' %}" class="user-name">{{ user.first_name|default:'user' }}</a></li>
            <li><a href="{% url 'auth:logout' %}" class="auth">Logout</a></li>
        {% else %}
            <li><a href="{% url 'auth:login' %}" class="auth">Login</a></li>
        {% endif %}
    </ul>

    <ul class="right-menu">
        <li class="right-menu-element"><a href="#"><img src="/static/img/search.png" alt="search"></a></li>
        <li class="right-menu-element"><a href="#"><img src="/static/img/basket.png" alt="basket"></a></li>
    </ul>

     <ul class="menu">
        <li><a href="{% url 'main:index' %}">домой</a></li>
        <li><a href="{% url 'products:products' %}" class="active">продукты</a></li>
        <li><a href="{% url 'main:contact' %}">контакты</a></li>

    </ul>

</div>

